.paragraph {
	font-size: 35px;
	line-height: 45px;
	font-family: 'Tw Cen MT';
}
.head {
	font-size: 100px;
	line-height: 32px;
	font-family: 'Tw Cen MT';
}
.subhead {
	font-size: 50px;
	line-height: 32px;
	font-family: 'Tw Cen MT';
}