.paragraph {
	font-size: 35px;
	line-height: 45px;
	font-family: 'Tw Cen MT';
	margin: 0px 300px;
}
.head {
	font-size: 100px;
	line-height: 32px;
	font-family: 'Tw Cen MT';
}
.subhead {
	font-size: 50px;
	line-height: 32px;
	font-family: 'Tw Cen MT';
}
@font-face {
	font-family: 'Tw Cen MT';
	src: url(fonts/Tw-Cen-MT.ttf);
}
div {
	width: 140px;
	padding: 0px;
	border: 7px solid MediumSeaGreen;
	margin: 0;
	border-radius: 15px 25px 25px 15px;
}
.paragraph2 {
	font-size: 35px;
	line-height: 45px 0px;
	font-family: 'Tw Cen MT';
	margin-left: 1825px;
	margin-top: -17px;
}

