.wrapper {
	padding: 32px;
}

.cookie-container {
	position: fixed;
	bottom: -100%;
	left: 0;
	right: 0;
	background: #2f3640;
	color: #f5f6fa;
	padding: 0 32px;
	box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);
	transition: 400ms;
}

	.cookie-container.active {
		bottom: 0;
	}

	.cookie-container a {
		color: #f5f6fa;
	}

.cookie-btn {
	background: #e84118;
	border: 0;
	color: #f5f6fa;
	padding: 12px 48px;
	font-size: 18px;
	margin-bottom: 16px;
	border-radius: 8px;
	cursor: pointer;
}
.paragraph {
	font-size: 35px;
	line-height: 45px;
	font-family: 'Tw Cen MT';
	margin: auto 232px;
	text-align: center;
}

.head {
	font-size: 100px;
	line-height: 32px;
	font-family: 'Tw Cen MT';
	text-align: center;
}

.subhead {
	font-size: 50px;
	line-height: 45px;
	font-family: 'Tw Cen MT';
	text-align: center;
}

.subhead2 {
	font-size: 35px;
	line-height: 32px;
	font-family: 'Tw Cen MT';
}

@font-face {
	font-family: 'Tw Cen MT';
	src: url(fonts/Tw-Cen-MT.ttf);
}

.paragraph2 {
	font-size: 35px;
	line-height: 45px;
	font-family: 'Tw Cen MT';
	margin: 0px 300px;
}



ul {
	margin: 0 60px;
	padding: 0;
	text-decoration: none;
}

	ul li {
		list-style: none;
		margin: 0;
		padding: 0;
		line-height: 50px;
		text-decoration: none;
		float: left
	}

	ul li {
		display: inline-block
	}

		ul li a {
			display: block;
			text-decoration: none;
			margin: 0;
			padding: 0;
			color: #fff;
			font-size: 14px;
			padding: 0 20px;
			font-family: 'Tw Cen MT';
		}

			ul li a:hover {
				color: red;
			}

.hover {
	display: inline-block;
	position: relative;
}

.hover2 {
	display: inline-block;
	position: relative;
	left: 1200px;
	min-width: auto;
}

	.hover::before {
		content: '';
		position: absolute;
		width: 100%;
		transform: scaleX(0);
		height: 2px;
		bottom: 0;
		left: 0;
		background-color: red;
		transform-origin: bottom right;
		transition: transform 0.3s ease-out;
	}

	.hover:hover::before {
		transform: scaleX(1);
		transform-origin: bottom left;
	}

.hover2::before {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: red;
	transform-origin: bottom right;
	transition: transform 0.3s ease-out;
}

.hover2:hover::before {
	transform: scaleX(1);
	transform-origin: bottom left;
}


nav {
	width: 100%;
	height: 50px;
	background-color: rgb(47 47 47 / 0.79);
	position: relative;
	opacity: 0;
	animation: fadein 0.25s ease-in forwards 0.25s;
}

@Keyframes fadein {
	100% {
		opacity: 100;
	}
}

.logo {
	text-indent: -9999999px;
	background: url('img/favicon.png');
	width: 32px;
	height: 32px;
	left: 25px;
	bottom: 25px;
	margin-top: 10px;
	display: inline-block;
}



.scroll {
	font-size: 35px;
	line-height: 45px;
	font-family: 'Tw Cen MT';
	margin: 0px 100px;
	margin-top: 0px
}



.twitter-timeline {
	width: 32px;
	height: 32px;
	left: 0px;
	right: 235px;
	bottom: 25px;
	margin-top: 0px;
	margin-left: 1600px;
	margin-top: -17px;
	min-width: fit-content();
}

.paragraph2 {
	font-size: 35px;
	line-height: 45px;
	font-family: 'Tw Cen MT';
	margin: -400px 300px;
	text-align: center;
}

.center-element {
	text-align: center;
}

.fivehundredthree {
	font-size: 10px;
}

.head-503 {
	line-height: 25px;
	font-size: 100px;
	line-height: 32px;
	font-family: 'Tw Cen MT';
	text-align: center;
}

html,
body {
	margin: 0;
}

.banner-wrapper {
}


.banner {
	background: #009579;
	opacity: 0;
	animation: fadein 0.25s ease-in forwards 0.25s;
}

.banner__content {
	padding: 10px;
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	align-items: center;
}

.banner__text {
	flex-grow: 1;
	line-height: 1.4;
	font-family: 'Quicksand', sans-serif;
}

.banner__close {
	background: none;
	border: none;
	cursor: pointer;
}

	.banner__text,
	.banner__close > span {
		color: #ffffff;
	}

.banner__button {
	transition: 400ms;
}

.load {
	margin: 70px auto;
	width: 40px;
	height: 40px;
	border: 5px solid rgba(255,255,255,0.2);
	border-radius: 50%;
	border-top-color: #fff;
	animation: spin 1.1s ease-in-out infinite;
}

@Keyframes spin {
	100%{
		transform: rotate(360deg);
	}
}

@Keyframes pulse{
	100%{
		opacity: 0;
	}
}

.load-wrapper {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #2f3640;
	animation: fadeout 0.25s ease-out forwards 0.25s, click-enable 0.25s ease-out forwards 0.5s;
}

@Keyframes fadein {
	100% {
		opacity: 100;
	}
}


@Keyframes fadeout {
	100% {
		opacity: 0;
	}
}

@keyframes click-enable {
	100%{
		opacity: 0;
		width: 0%;
		height: 0%;
	}
}

.load-paragraph {
	font-size: 35px;
	line-height: 45px;
	font-family: 'Tw Cen MT';
	text-align: center;
	min-width: 500px;
}

.load-elements {
	animation: fadein 0.25s ease-in forwards 0.25s;
}

.img-twitch {
	width: 90px;
	height: 100px;
}

.img-merch {
	width: 100px;
	height: 100px;
}

.img-downchkr {
	width: 100px;
	height: 100px;
}

.img-youtube {
	width: 100px;
	height: 100px;
}

.socials {
	text-align: center;
}

.paragraph3 {
	font-family: 'Quicksand', sans-serif;
	font-size: 35px;
	line-height: 45px;
	margin: auto 232px;
	text-align: center;
}
