.paragraph {
	font-size: 35px;
	line-height: 45px;
	font-family: 'Tw Cen MT';
	src: url(fonts/Tw Cen MT.ttf);
	font-style: normal;
	font-weight: 100;
}
.head {
	font-size: 100px;
	line-height: 32px;
	font-family: 'Tw Cen MT';
	src: url(fonts/Tw Cen MT.ttf);
	font-style: normal;
	font-weight: 100;
}
.subhead {
	font-size: 50px;
	line-height: 32px;
	font-family: 'Tw Cen MT';
	src: url(fonts/Tw Cen MT.ttf);
	font-style: normal;
	font-weight: 100;
}

