.paragraph {
	font-size: 35px;
	line-height: 45px;
	font-family: 'Franklin Gothic';
.head {
	font-size: 100px;
	line-height: 32px;
	font-family: 'Franklin Gothic';
}
.subhead {
	font-size: 50px;
	line-height: 32px;
	font-family: 'Franklin Gothic';
}

